.example-container {
  display: flex;
  flex-direction: column;
  font-size: 140%;
}

mat-card-title.column {
  flex-direction: column;
}

button {
  font-weight: bold;
}

.form {
  margin: 2% 20% 10% 20%;
  padding: 0;
}
